:root{
    --primary-color: #0891B2;
    --secondary-color: #22D3EE;
    
}

*body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}  

#main{
    display: flex;
    max-width: 100%;
    margin: auto;
    height: 100px;
    background-color: var(--primary-color);
    border-radius: 0 50px 0 50px;
}

#head1{
    display: flex ;
    text-align: left;
    margin-top: -1.7rem;
}
nav .no-bullet {
    list-style: none;
    text-align: right;
}
.inline-list{
    display: inline;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}

#part1{
    display: block;
    max-width: 700px;
    margin: auto;
}

#part1 p{
    text-align: justify;
    font-size: 25px;
    margin-left: -22px;
}

#part1 ol li{
    font-size: 25px;
}

#link{
    display: block;
    max-width: 700px;
    margin: auto;
    text-align: justify;
    font-size: 25px;
}

#link-box a{
    text-decoration: none;
}

#link-box img{
    width: 200px;    
}

.link-inline{
    display: table-cell;
}