

*body{
    margin: 0;
    padding: 0;
}  

#main{
    display: flex;
    max-width: 100%;
    margin: auto;
    height: 100px;
    background-color: red;
    border-radius: 0 50px 0 50px;
}

#head1{
    display: flex ;
    text-align: left;
    margin-top: -1.7rem;
}
nav .no-bullet {
    list-style: none;
    text-align: right;
}
.inline-list{
    display: inline;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}

